    <footer>
      <div>
        <a class="text-center f5 mt-4 pt-4" href="mailto:asso.3francs6sous@gmail.com"><span>Contactez nous !</span></a>
      </div>
      <div>
        <p class="text-center f5 mt-4 pt-4">&copy; 2024 - {{ site.time | date: '%Y' }} <span>3 Francs 6 sous</span></p>
      </div>
      <div>
        <a class="text-center f5 mt-4 pt-4" href="https://www.pappers.fr/entreprise/trois-francs-six-sous-812337749" target="_blank"><span>Association 3 Francs 6 Sous | 4, rue du stade | 17250 SAINT-PORCHAIRE</span></a>
      </div>

    </footer>
  </body>
</html>

